@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: darkgrey;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;/* ou utilizar frames 1fr 2fr 1fr ou repeat(3, 1fr)*/
    gap: 10px 10px;/*espaço entre os itens*/
    /*grid-template-rows: 1fr 1fr 1fr;*/ /*cada linha tera 1frame*/
    grid-auto-rows: minmax(210, auto); /* tamanho minimo e maximo da linha*/
}

.item{
    border: 2px solid black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}

.item1{
    grid-column: 1/4;
}

.item2{
    grid-column: 1/3;
    grid-row: 2/4;
}

.item5{
    grid-column: 1/4;
    grid-row: 4/6;
}

.item7{
    grid-column: 2/4;
    grid-row: 6/8;
    
}

.item9{
    grid-column: 1/4;
}
