@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: darkgrey;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25% ;/* ou utilizar frames 1fr 2fr 1fr ou repeat(3, 1fr)*/
    gap: 10px 15px;/*espaço entre os itens*/
    grid-template-rows: 1fr 2fr 1fr;
}

.item{
    border: 2px solid black;
    background-color: white;
    font-size: 25px;
    padding: 10px;
}

